# Node / Vite
node_modules/
dist/
.vite/
build/
coverage/
*.log

# Env
.env
.env.*
!.env.example
cookies.txt
*_cookies.txt
cookies.tx
*.cookies
*.cookie
session.json

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
